<!DOCTYPE html>
<html lang="en" ng-app='goBike'>
<head>
  <meta charset="UTF-8">
  <title>GO BIKE</title>

  <link rel="stylesheet" href="/lib/materialize/bin/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="build/css/main.css" >

  <!-- Compiled and minified JavaScript -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrdgG-VwxnevLQgnyFl4MqOYll2cuzHws&libraries=drawing"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/materialize/bin/materialize.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="build/all.js"></script>
</head>
<body ng-controller="appCtrl as vm">
  <form action="">
    <div class="row ">
      <div class="col s12 m4">
        <img class="logo" src="img/logo.png" alt=""/>
      </div>
      <div class="col s12 m8 center-align" style="padding-top: 25px">
        <H2>ONDE VOCÊ GOSTARIA DE IR DE BICICLETA, E PODER ESTACIONAR COM SEGURANÇA?</H2>
      </div>
    </div>

    <map></map>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large green" ng-click="vm.send()">
        <i class="large material-icons">send</i>
      </a>
    </div>
  </form>
</body>
</html>